# ── shadcn/studio Pro ─────────────────────────────────────────────────────────
SS_EMAIL={{SS_EMAIL}}
SS_LICENSE_KEY={{SS_LICENSE_KEY}}

# ── Next.js ───────────────────────────────────────────────────────────────────
# NEXT_PUBLIC_APP_URL=http://localhost:3000
