"registries": {
  "@react-bits": "https://reactbits.dev/r/{name}.json",
  "@shadcn-studio": "https://shadcnstudio.com/r/{name}.json",
  "@ss-components": "https://shadcnstudio.com/r/components/{name}.json",
  "@ss-blocks": "https://shadcnstudio.com/r/blocks/{name}.json",
  "@ss-themes": "https://shadcnstudio.com/r/themes/{name}.json"
}